/* Header Styling */
h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #888;
    font-size: 50px;
}

/* Box Styling */
.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button Styling */
.btn {
    width: 75px;
    height: 75px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 50px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.btn:disabled {
    color: black;
    cursor: not-allowed;
}

/* Result Container Styling */
.result-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000;
    max-width: 200px;
    margin: 20px auto;
}

#result {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #888;
    font-size: 25px;
}

/* Reset Styling */
.reset {
    text-align: center;
}

/* Reset Button Styling */
#resetBtn {
    border: 2px solid #000;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

#resetBtn:hover {
    background-color: black;
    color: white;
}
